
body{
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    justify-content: center;
    /* font-style: italic; */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    transition: 3secs;
}
nav ul li a:hover{
    color: grey;
}
video{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    background-color: aliceblue;
    margin: 10px 20px 40px 60px;  
    border-radius: 12px;
    margin-top: 20px;
}
#profile-info{
    width: 1000px;
    height: 1000px;
    box-sizing: border-box;
    background-color: aliceblue;
    margin: 10px 20px 40px 60px;  
    border-radius: 12px;
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    text-decoration: underline;
    text-align: center;
    font-size: 1rem;
    color: #0766ec;
}

#about{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    line-height: 1rem;
    margin-bottom: 20px;
}

.work{
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}




#resume {
    padding: 50px;
    margin-bottom: 10px;
    text-align: end;

}
#resume a {
    background-color: #0766ec;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    text-align: end;
}
#resume a:hover{
    color: #cac4c4;
}


#contact {
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#contact form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
}
#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0766ec;
    border-radius: 10px;
}
#contact button {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
#contact button:hover {
    background-color: #0766ec;
    color: white;
    transition: 0.2s;
}



footer{
    box-shadow: 0 2px 2px 0.1px grey;
    color: #ffffff;
    background-color: rgb(78, 76, 76);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    height: 30px;
    width: 900px;
    border-radius: 12px;
    margin-bottom: 50px;
    margin-left: 80px;
}